*{
    box-sizing: border-box;
    
}


header {
    background-color: #F2F2F2;
    height:75px;
    border-bottom: 2px solid #0939DE;
    position: fixed;
    width:100%;
    z-index:10;
    
    
}

.menu_desk{
    display:none;
}

.anchor{
    position: absolute;
    transform: translateY(-25vh);
}




body{
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1000px;
    background-position-x: center;
    font-family: Helvetica, Sans-Serif;
    
}

.logo {
    position: relative;
    width:300px;
    margin-left:auto;
    margin-right:auto;
    z-index:11;

}

#hamburger{
    display:none;
}

.img_hamburger{
    position:absolute;
    height:50px;
    top:10px;
    left:10px;
    z-index:11;
}


.menu_mob{
    background-color:#F2F2F2;
    position:absolute;
    width:100%;
    padding-top:20px;
    top:-1000px;

}


    



.menu_mob  a{
    font-family: Helvetica, Sans-Serif;
    text-decoration: none;
    text-transform: capitalize;
    display:block;
    text-align: center;
    margin-top:50px;
    font-size:30px;
    text-transform: uppercase;
    margin-bottom: 25px;
    z-index:10;
    border:2px;
    border-style:solid;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    color:#0939DE;
    border-color:#0939DE;
}


h1{
    font-family: Helvetica, Sans-Serif;
    color: white;
    font-size: 14pt;
    text-align: center;
    top:300px;
    position: fixed;
    z-index:-1;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}


#container{
    background-color:white;
    position: relative;
    top:700px;
    padding-top:100px;
}

#container #intro p{
    width:80%;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    color:black;
    border: 2px;
    border-top-style: none;
    border-bottom-style: none;

    border-bottom-style: solid;
    padding-bottom: 20px;
    border-top-style: solid;
    padding-top: 20px;
}

#diensten_desk{
    display:none;
}

#diensten_mob {
    margin-top:50px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
}

#diensten_mob h2 {
    font-size:30px;
    margin-bottom:20px;
    
}

#diensten_mob ul li{
    font-size:15px;
    margin-top:15px;
    
}

#diensten_mob ul li a{
    color:#0939DE;
    text-decoration:none;
    
}

#container_diensten{
    background-color: white;
    height:100%;
    padding-top: 100px;
    margin-bottom:-50px;
}

#container_diensten #container_titels{
    width:80%;
    margin-left:auto;
    margin-right:auto;

}


#container_diensten #container_titels h3{
    font-size:medium;
}

#container_diensten #container_titels h4{
    font-size:22px;
    border-bottom: solid black 2px;
    padding-bottom: 5px;
    padding-top:5px;
}

#container_diensten #uitleg_dienst{
    width:80%;
    padding-top:20px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:20px;
}

#container_diensten #uitleg_dienst img {
    width:100%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    
}

#container_diensten #uitleg_dienst h5{
    margin-top:10px;
}


#container_diensten #uitleg_dienst p{
    font-size:small;
    margin-top:5px;
}

#container_diensten #uitleg_dienst #prijzen_offerte{
    margin-top:20px;
    display:flex;
    width:80%;
    margin-left:auto;
    margin-right:auto;


}

#container_diensten #uitleg_dienst #prijzen_offerte a{
    text-decoration:none;
    color: #0939DE;
    flex:50;
    border:2px;
    border-style:solid;
    border-color:#0939DE;
    padding:5px;
    text-align: center;
    
}

#container_diensten #uitleg_dienst #prijzen_offerte a:first-child{
    margin-right:20px;
}

#container_diensten #uitleg_dienst #prijzen_offerte a:last-child{
    margin-left:20px;
}

/* prijzen page */

#container_prijzen{
    background-color: white;
    height:100%;
    padding-top: 100px;
    margin-bottom:-50px;
}

#container_prijzen #container_titels{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:10px;
}

#container_prijzen #container_titels h4{
    font-size:22px;
    border-bottom: solid black 2px;
    padding-bottom: 5px;
}

#container_prijzen #container_uitleg{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
}

#container_prijzen #uitleg_prijzen{
    width: 100%;
    background-color:#EBEBEB;
    padding-top:20px;
    border-top:2px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:20px;
    margin-top:5px;
    display:grid;
    justify-content: center;
    
    
}

#container_prijzen #uitleg_prijzen h5{
    
    text-align:center;
}

#container_prijzen #uitleg_prijzen p{
    margin-bottom:100px;
    text-align:center;
    padding-top:5px;
}

#container_prijzen #uitleg_prijzen a{
    text-decoration:none;
    color: #0939DE;
    flex:50;
    border:2px;
    border-style:solid;
    border-color:#0939DE;
    padding:5px;
    text-align: center;
    margin-top: 20px;
    text-align:center;
}

#container_prijzen .extra_uitleg_prijzen{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    padding-bottom:50px;
}

/* contact page */

#container_contact{
    background-color: white;
    width:80%;
    padding-top: 100px;
    margin-bottom:-50px;
    margin-left:auto;
    margin-right:auto;
}

#container_contact #container_titels{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:10px;
}

#container_contact #container_titels h4{
    font-size:22px;
    border-bottom: solid black 2px;
    padding-bottom: 5px;
}

#container_contact p{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.info{
    padding-top:5px;
    color:#0939DE;
}

.info p{
    padding-top:10px;
}

.adress{
    padding-top:20px;
}

.adress p {
    padding-top:5px;
}

.contact{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top:50px;
    padding-bottom:20px;
}

.contact h6{
    color:#0939DE;
    padding-bottom:20px;
    font-size: 1.5em;
}



input[type=text], textarea{
    width: 100%; 
    padding: 12px; 
    background-color: #F2F2F2;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    border:none;
}

#background{
    width:100%;
    background-color:white;
}







#footer{
    background-color:#F2F2F2;
    border:2px;
    border-top-style:solid;
    border-top-color: #0939DE;
    padding-top:30px;
    margin-top:50px;
    

}

#footer #foot {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:50px;
}

#footer #foot ul{
    font-size:14px;
    
}

#footer #foot ul li{
    margin-bottom:7px;
    
}

#footer #foot  p{
    margin-top:15px;
    font-size:14px;
}


@media(min-width:700px){
    
    .menu_mob{
        display:none;
    }

    .hamburger{
        display:none;
    }

    #hamburger{
        display:none;
    }

    .img_hamburger{
        display:none;
    }

    .logo  {
        width:250px;
    }

    nav{
        display:flex;
        align-items: center;
        
    }

    #intro{
        display:none;
    }

    h1{
        font-size: 50px;
    }

    

    .menu_desk{
        
        display:flex;
        gap:50px;
        margin-right:10%;
        
    }

    .menu_desk a {
        align-content: space-between;

        text-decoration: none;
        color:black;
        text-transform: uppercase;

    }

    .menu_desk a:hover{
        color:#0939DE;
    }

    body{
        background-size:100%;
    }

    #diensten_mob{
        display:none;
    }

    #diensten_desk{
        width:95%;
        margin-left:auto;
        margin-right:auto;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        
    }

    #diensten_desk .dienst_desk{
        
        margin-top:20px;
        display:grid;
        justify-content: center;
        padding:5px;
        
        
    }

    #diensten_desk .dienst_desk a{
        text-decoration: none;
        color:black;
    }

    #diensten_desk .dienst_desk img{
        width:250px;
    }

    #diensten_desk .dienst_desk p{
        font-size:small;
        margin-top:5px;
    }

    #diensten_desk .dienst_desk h5{
        margin-top:10px;
        
    }

    #diensten_desk .dienst_desk img:hover{
        filter: grayscale(1);
    }


    #container_diensten #container_titels h4{
        margin-bottom:20px;
        text-transform: uppercase;
        margin-top:10px;
        font-size: 30px;
    }


    #container_diensten #uitleg_dienst{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #container_diensten #uitleg_dienst h5{
        grid-column-start: 1;
        grid-row-start: 1;
        
        
    }

    #container_diensten #uitleg_dienst p{
        grid-column-start: 1;
        grid-row-start: 1;
        margin-top:35px;
    }

    #container_diensten #uitleg_dienst #prijzen_offerte{
        grid-column: 1;
        grid-row-start: 3;
        
    }

    #container_diensten #uitleg_dienst #prijzen_offerte a{
        display:grid;
        align-content: center;
        margin-top:25px;
        margin-bottom:25px;
    }

    #container_diensten #uitleg_dienst img{
        grid-column: 2;
        grid-row: 1 / span 3;
        width:80%;
        margin-right: 0;
        
    }

    .logo{
        margin-left: 0;
    }

    header{
        display:grid;
        align-content:center;
    }

    

    .logo img:hover{
        cursor:pointer;
    }
    
}

