*{
    box-sizing: border-box;
    
}


.footer{
    position: absolute;
    bottom:0px;
}


header {
    background-color: #E5E5E5;
    height:50px;
    border-bottom: 3px solid #0939DE;
    position: fixed;
    width:100%;
    z-index:1000000000000;
}

.menu_desk{
    display:none;
}

.anchor{
    position: absolute;
    transform: translateY(-25vh);
}




body{
    /*background-image: url("../images/header.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1000px;
    background-position-x: center;*/
    font-family: 'Roboto', sans-serif;  
    position:relative;
    
}

.index__header{
    /*background-image: url("../images/header.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;*/
    height:100vh;
    width: 100vw;
    top:0; 
    position: fixed;
}

.logo {
    position: relative;
    width:250px;
    margin-left:auto;
    margin-right:auto;
    z-index:11;
    height:50px;
    display:grid;
    align-items: center;
    justify-content: center;
}

.logo img{
    height:35px;
    
}

#hamburger{
    display:none;
}

.img_hamburger{
    position:absolute;
    height:40px;
    top:5px;
    left:5%;
    z-index:11;
}




.menu_mob{
    background-color:#F2F2F2;
    position: fixed;
    width:100%;
    padding-top:25px;
    top:-1000px;
    /* border-bottom: 3px solid #0939DE; */
    height:0%;
    overflow-x: hidden;
}


    



.menu_mob  a{
    font-family: Helvetica, Sans-Serif;
    text-decoration: none;
    text-transform: capitalize;
    display:block;
    text-align: center;
    margin-top:50px;
    font-size:30px;
    text-transform: uppercase;
    margin-bottom: 25px;
    z-index:10;
    border:2px;
    border-style:solid;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    color:#0939DE;
    border-color:#0939DE;
    height:65px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu_mob a:last-child{
    margin-bottom:70px;
}


h1{
    
    color: white;
    font-size: 14pt;
    text-align: center;
    top:300px;
    position: fixed;
    top: 45vh;
    left:0;
    z-index:-1;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    font-style:italic;
    font-weight:300;
    font-size:26px;
    z-index:2;
}


#container{
    background-color:white;
    position: relative;
    top:600px;
    padding-top:25px;
    width:100%;
    position:relative;
    z-index:2;
    margin-top: 100vh;
}

#container #intro p{
    width:90%;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    color:black;
    border: 2px;
    border-top-style: none;
    border-bottom-style: none;

    border-bottom-style: solid;
    padding-bottom: 20px;
    border-top-style: solid;
    padding-top: 20px;
}

.diensten_desk{
    display:none;
}

#diensten_mob {
    margin-top:25px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
}

#diensten_mob h2 {
    font-size:34px;
    
}

#diensten_mob ul li{
    font-size:15px;
    margin-top:15px;
    margin-bottom:30px;
}

#diensten_mob ul li a{
    color:#0939DE;
    text-decoration:none;
    font-size:32px;
    
    
}

#container_diensten{
    background-color: white;
    height:100%;
    padding-top: 100px;
    margin-bottom:-50px;
    padding-bottom:10px;
}

#container_diensten #container_titels{
    width:90%;
    margin-left:auto;
    margin-right:auto;

}


#container_diensten #container_titels h3{
    font-size:medium;
    font-style:italic;
}

#container_diensten #container_titels h4{
    font-size:34px;
    border-bottom: solid black 1px;
    padding-bottom: 20px;
    padding-top:5px;
    margin-bottom:20px;
    text-transform: uppercase;
    
}

#container_diensten #uitleg_dienst{
    width:90%;
    padding-top:5px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:40px;
    border-bottom: black solid 1px;
    margin-bottom:60px;
}

.prev, .next{
    position:relative;
    z-index:1;
    bottom: 100px;
    width: auto;
    color: #0939DE;
    font-size: 25px; 
}

.prev{
    margin-left:5%;
}

.next{
    float:right;
    margin-right:5%;
}

/* #container_diensten #uitleg_dienst:last-child{
    border:none;
} */



#container_diensten #uitleg_dienst img,video {
    width:100%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#container_diensten #uitleg_dienst h5{
    margin-top:10px;
    font-size:26px;
}


#container_diensten #uitleg_dienst p{
    font-size:small;
    margin-top:20px;
    text-align: left;
    line-height:18px;
}

#container_diensten #uitleg_dienst #prijzen_offerte{
    margin-top:40px;
    display:flex;
    width:80%;
    margin-left:auto;
    margin-right:auto;


}

#container_diensten #uitleg_dienst #prijzen_offerte a{
    text-decoration:none;
    color: #0939DE;
    flex:50;
    border:2px;
    border-style:solid;
    border-color:#0939DE;
    padding:3%;
    text-align: center;
    font-weight:600;
    font-size:20px;
    
}

#container_diensten #uitleg_dienst #prijzen_offerte a:first-child{
    margin-right:20px;
}

#container_diensten #uitleg_dienst #prijzen_offerte a:last-child{
    margin-left:20px;
}

/* prijzen page */

#container_prijzen{
    background-color: white;
    height:100%;
    padding-top: 100px;
    margin-bottom:-50px;
}

#container_prijzen #container_titels{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:10px;
}

#container_prijzen #container_titels h4{
    font-size:34px;
    border-bottom: solid black 1px;
    padding-bottom: 20px;
    margin-bottom:10px;
}

#container_prijzen #container_uitleg_mob{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
}

#container_prijzen #uitleg_prijzen{
    width: 100%;
    background-color:#EBEBEB;
    padding-top:20px;
    border-top:2px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:20px;
    margin-top:5px;
    display:grid;
    justify-content: center;
    
    
}


#container_prijzen #uitleg_prijzen h5{
    
    text-align:center;
    font-size: 22px;
    font-weight: 500;
}

#container_prijzen #uitleg_prijzen p{
    margin-bottom:100px;
    text-align:center;
    padding-top:5px;
    padding-top: 10px;
    font-size: 18px;
}

#container_prijzen #uitleg_prijzen a{
    text-decoration:none;
    color: #0939DE;
    flex:50;
    border:2px;
    border-style:solid;
    border-color:#0939DE;
    padding:5px;
    text-align: center;
    margin-top: 20px;
    text-align:center;
    font-weight:600;
}

#container_prijzen .extra_uitleg_prijzen{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding-top:30px;
    padding-bottom:100px;
    font-style: italic;
    font-weight: 300;
}

#container_prijzen #container_uitleg_desk{
    display:none;
}

/*modal*/


.modal{
    background-color: #EBEBEB;
    display:block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
  
    left: 5%;
    top: 24%;
    width: 90%; /* Full width */
    /* box-shadow: 0px 0px 10px 5px #C2C2C2; */
    height:495px;
    margin-left:auto;
    margin-right:auto;
}

.modal #modal_prijzen{
    width: 100%;
    background-color:#EBEBEB;
    padding-top:20px;
    border-top:2px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:20px;
    height:455px;
    display: grid;
    grid-template-rows: 5% 20% 20% 35% 15%;
    padding: 10px;
}

#modal_prijzen h5{
    text-align:center;
    font-size: 34px;
    font-weight: 500;
    
}

#modal_prijzen p{
    text-align:center;
    font-size: 24px;
    padding-top:20px;
    
}

#modal_prijzen ul{
    padding-top:20px;
}


#modal_prijzen ul li {
    margin-top:10px;
    margin-left:4%;
    font-size:20px;
    font-weight:300;
}

#modal_prijzen a{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color: #0939DE;
    flex:50;
    border:2px;
    border-style:solid;
    border-color:#0939DE;
    padding:1%;
    text-align: center;
    margin-top: 20px;
    font-weight:600;
    font-size:20px;
    top:-20px;
    
}

.close{
    color: #aaaaaa;
    display:flex;
    font-size: 28px;
    font-weight: bold;
    justify-content:center;
    width:10%;
    margin-left:90%;
    margin-top:10px;
}

.close:hover{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}








/* contact page */

#container_contact{
    background-color: white;
    width:90%;
    padding-top: 95px;
    margin-bottom:-50px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:100px;
}

#container_contact #container_titels{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:10px;
}

#container_contact #container_titels h4{
    margin-bottom: 25px;
    text-transform: uppercase;
    
    font-size: 34px;
    border-bottom: solid black 1px;
    padding-bottom: 20px;
    padding-top: 5px;
}

#container_contact p{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    font-size:20px;
}

.bedankt{
    padding-top:50px;
}

.bedankt_div{
    height:100px;
}

.info{
    padding-top:5px;
    color:#0939DE;
}

.info p{
    padding-top:10px;
}

.adress{
    padding-top:20px;
}

.adress p {
    padding-top:5px;
}

.contact{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: left;
    padding-top:75px;
    padding-bottom:20px;
    
}

.contact h5{
    color:#0939DE;
    padding-bottom:20px;
    font-size: 1.5em;
    text-align:left;
    font-size:28px;
}

.contact h6{
    color: #0939DE;
    padding-top:15px;
    margin-bottom: 20px;
    font-size: 1.2em;
    /* font-style: revert; */
    font-family: helvetica;
    text-transform: uppercase;
}

label{
    font-size:18px;
    padding-bottom:10px;
}


input[type=text], textarea, select{
    width: 100%; 
    padding: 12px; 
    background-color: #F2F2F2;
    margin-top: 10px; 
    margin-bottom: 26px; 
    resize: vertical;
    border:none;
}

.concept_info{
    
    font-style: italic;
    font-weight: 300;
    padding-top: 5px;
}

.btn{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    justify-content: center;
    
}

.btn input{
    text-decoration: none;
    color: #0939DE;
    border: 2px;
    border-style: solid;
    border-color: #0939DE;
    padding: 5%;
    text-align: center;
    background-color:white;
    font-weight:600;
    cursor: pointer;
    width:150px;
    font-size:20px;
    height:50px;
    
    
}



/* input[type=submit]{
    text-decoration:none;
    color: #0939DE;
    display:flex;
    
    border:2px;
    border-style:solid;
    border-color:#0939DE;
    padding:5%;
    text-align: center;
    margin-top: 20px;
    text-align:center; 
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
    font-weight:600;
    
} */

#background{
    width:100%;
    background-color:white;
}







footer{
    background-color:#E5E5E5;
    border:3px;
    border-top-style:solid;
    border-top-color: #0939DE;
    padding-top:30px;
    /* margin-top:50px; */
    width:100%;
    
    

}



footer #foot {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:50px;
}

footer #foot ul{
    font-size:14px;

    
}


footer #foot ul li{
    margin-bottom:7px;
    
}

footer #foot  p{
    margin-top:15px;
    font-size:14px;
}

.menu_diensten{
    display:none;
}

.foot__link{
    text-decoration: none;
    color:#0939DE;
}


.container--cookie{
    background-color:white;
    min-height: 100vh;
    
}

.cookie{
    padding-top:120px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:100px;
    z-index:1;
}

.cookie h2{
    font-size: 34px;
    text-transform: uppercase;
    color:#0939DE;
    
}



.cookie p{
    padding-top:20px;
    padding-bottom:50px;
}

.cookieLink{
    text-decoration: none;
    color:black;
    font-size:14px;
}

.mobile__dienst{
    display:flex;
    flex-direction: column;
    margin-bottom:20px;
    border-top: 2px black solid;
    padding-top:20px;
    
}

.mobile__dienst__title{
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom:20px;
}

.mobile__dienst__count{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:10%;
    margin-top:10px;
}



.mobile__dienst__more{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:10px;
    margin-top:20px;
}

.btn--normal{
    text-decoration: none;
    color:#0939DE;
    border:solid 2px #0939DE;
    padding:10px;
    text-transform: uppercase;
    font-weight: 500;
}






@media(min-width:800px){

    h1{
        top:50%;
    }

    #container{
        position:absolute;
        top:100%;
    }

    header{
        height:50px;
    }
    
    .menu_mob{
        display:none;
    }

    .hamburger{
        display:none;
    }

    #hamburger{
        display:none;
    }

    .img_hamburger{
        display:none;
    }

    .logo  {
        width:250px;
        align-items: center;
        justify-content: left;
    }

    .logo img{
        height :2.2em;
    }

    nav{
        display:flex;
        align-items: center;
        width:90%;
        margin-left:auto;
        margin-right:auto;
        
    }

    #intro{
        display:none;
    }

    h1{
        font-size: 75px;
    }

    .menu_diensten{
        display:none;
        
    }

    .menu_diensten a{
        text-decoration: none;
        color:black;
        text-transform: uppercase;
    }

    .menu_diensten a:hover{
        color:#0939DE;
    }

    

    .menu_desk{
        
        display:flex;
        gap:30px;
        
        
    }

    .menu_desk a {
        align-content: space-between;

        text-decoration: none;
        color:black;
        text-transform: uppercase;

    }

    .menu_desk a:hover{
        color:#0939DE;
    }

    body{
        background-size: cover;
    }

    #diensten_mob{
        display:none;
    }



    .diensten_desk{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap:50px;
        padding-bottom:50px;
        
    }

    .diensten_desk--more{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
    }

    .diensten_desk .dienst_desk{
        
        margin-top:20px;
        display:grid;
        justify-content: center;
        
        
        
        
    }

    .diensten_desk .dienst_desk a{
        text-decoration: none;
        color:black;
    }

    .diensten_desk .dienst_desk img{
        width:100%;
    }

    .diensten_desk .dienst_desk p{
        
        margin-top:5px;
        text-align:left;
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
    }

    .diensten_desk .dienst_desk h5{
        margin-top:10px;
        text-align:left;
        font-size:20px;
        
    }

    .diensten_desk .dienst_desk img:hover{
        filter: sepia(100%) hue-rotate(190deg) saturate(650%) contrast(1.3) brightness(0.8);
    }

    #container_diensten{
        padding-bottom:100px;
    }


    #container_diensten #container_titels h4{
        margin-bottom:50px;
        text-transform: uppercase;
        margin-top:5px;
        font-size: 30px;
    }


    #container_diensten #uitleg_dienst{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 5fr 2fr;
        padding-bottom:0px;
    }

    

    #container_diensten #uitleg_dienst h5{
        grid-column-start: 1;
        grid-row-start: 1;
        
        
    }

    #container_diensten #uitleg_dienst p{
        grid-column-start: 1;
        grid-row-start: 1;
        margin-top: 50px;
        margin-right: 100px;
        font-size: 16px;
        line-height: 22px;
    }

    #container_diensten #uitleg_dienst #prijzen_offerte{
        grid-column: 1;
        grid-row-start: 2;
        height: 15%;
        align-self: end;
        font-weight: 500;
        position: relative;
        top:-50%;
        
    }

    #container_diensten #uitleg_dienst #prijzen_offerte a{
        display:grid;
        align-content: center;
        margin-top:25px;
        margin-bottom:25px;
        padding:5%;
        font-weight:500px;
    }

    #container_diensten #uitleg_dienst #prijzen_offerte  a:hover{
       
        color:white;
        background-color:#0939DE;
    }

    #container_diensten #uitleg_dienst img,video{
        grid-column: 2 / span 2;
        grid-row: 1 / span 3;
        width:100%;
        margin-right: 0;
        
    }

    #container_prijzen #container_uitleg_desk{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 25px;
        
    }

    #container_prijzen #uitleg_prijzen{
        background-color:white;
        height: 600;
        border-right: solid black 1px;
        display:grid;
        grid-template-rows: 5% 20% 30% 35% 10%;
        padding:20px;
        padding-left: 25px;
        padding-right: 25px
    }

    #container_prijzen #uitleg_prijzen:hover{
        background-color: #EBEBEB;
        
    }

    #container_prijzen #uitleg_prijzen h5{
        text-align:center;
        font-size:30px;
        font-weight:600;
    }

    #container_prijzen #uitleg_prijzen .prijs{
        text-align:center;
        font-size:26px;
        font-weight: 300;
        
    }

    .prijs--klein{
        font-size:20px;
    }
    
    #container_prijzen #uitleg_prijzen .uitleg{
        text-align:center;
        font-size:22px;
        line-height: 30px;
        
    }

    
    #container_prijzen #uitleg_prijzen  a{
        width:50%;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        justify-content:center;
        align-items:center;
        font-weight:600;
        ;
    }
    
    #container_prijzen #uitleg_prijzen .infoPrijs{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        list-style-type: circle;
    }

    #container_prijzen #uitleg_prijzen  a:hover{
       
        color:white;
        background-color:#0939DE;
    }

    



    #container_prijzen #uitleg_prijzen .infoPrijs li{
        margin-bottom:8px;
        line-height:150%;
        font-weight:400;
    }

    #container_prijzen #uitleg_prijzen:last-child{
        border:none;
        list-style-type: none;
    }

    #container_prijzen #uitleg_prijzen:last-child .infoPrijs{
       
        list-style-type: none;
    }

    

    #container_prijzen .extra_uitleg_prijzen{
        width:50%;
        margin-left:auto;
        margin-right:auto;
        opacity: 80%;
        text-align:center;
        margin-top:50px;
    }

    

    #container_prijzen #container_uitleg_mob{
        display:none;
    }







    #background #container_contact{
        width:90%;
    }

    #background #container_contact .grid {
        display: grid;
        grid-column-start: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 6px;
        height: auto;
        padding-bottom: 100px;
        padding-top:0px;
    }

    .bedankt{
        padding-top:100px;
    }

    .bedankt_div{
        height:400px;
    }

    #background #container_contact .grid .grid_text {
        grid-column: 1 / span 3;
        width:50%;
        grid-row:1;
    }

    #background #container_contact .grid .contact {
        padding-top: 0px;
        grid-column: 3 / span 3 ;
        border-left: solid black 1px;
        padding-left:50px;
        grid-row:1;
        padding-bottom:0px;
    }

    .btn input:hover{
        color:white;
        background-color:#0939DE;
    }


    






    .logo{
        margin-left: 0;
    }

    header{
        display:grid;
        align-content:center;
    }

    

    .logo img:hover{
        cursor:pointer;
    }

   
    
    footer #foot {
        display:grid;
        grid-template-columns: 5fr 1fr;
        align-items:center;
        
    }
    
    footer #foot ul{
        font-size:14px;
    
        
    }
    
    
    footer #foot ul li{
        margin-bottom:0px;
        
    }
    
    .cookieLink{
        margin-top:0px;
        font-size:14px;
        border-left: 1px black solid;
        border-right: 1px black solid;
        text-align: center;
    }

    .cookieLink:hover{
        color:#0939DE;
    }

    .foot__link{
        text-decoration: none;
        color:black;
        border:none;
    }

    .foot__link:hover{
        color:#0939DE;
    }

    #foot ul{
        display:grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        justify-content:center;

    }

    .modal{
        display:none;
    }


    .prev, .next {
        cursor: pointer;
        position: static;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        
        color: white;
        font-weight: bold;
        font-size: 30px;
        transition: 0.3s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        z-index:1;
      }

    .prev{
        grid-column-start:2;
        grid-row: 1 / span 2;
        display:flex;
        align-items:center;
    }

    .next{
        grid-column-start:3;
        grid-row: 1 / span 2;
        display:flex;
        align-items:center;
        justify-content: flex-end;
    }
    
    .prev:hover, .next:hover {
        color: #0939DE;
      }

      .container--cookie{
          height: 100%;
      }


      .dienst__title{
          text-align: left;
          color:black;
          margin-top:30px;
          margin-bottom:-30px;
          font-size: 30px;
          text-transform: uppercase;
          grid-column: 1 / span 3;
      }

      .dienst__line{
          grid-column: 1 / span 3;
          border-bottom: solid 1px black;
      }

    

    

    
    
}



